Flask==3.0.0
openai==1.4.0
Flask-Cors==4.0.0
gunicorn==21.2.0
numpy==1.26.4
scipy==1.12.0
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.11.0+cpu
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.12.0+cpu